body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.outer {
  overflow: hidden;
  position: relative;
}
.home-header {
  position: relative;
  /* width: 1315px; */
  height: 100%;
  left: 93px;
  top: 0;

  font-size: 64px;
  line-height: 78px;
}

.home-header-title {
  width: 218px;
  height: 78px;
  /* left: 93px;
  top: 131px; */

  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;

  /* identical to box height */

  color: #ffffff;
}
.home-header-subtitle {
  /* width: 1315px; */
  height: 78px;
  /* left: 93px;
  top: 198px; */

  font-family: Product Sans Thin;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
}

.home-search-container {
  width: 1182px;
  position: relative;
  height: 83px;
  left: 90px;
  /* top: 340px; */
}

.home-search-title {
  /* position: absolute; */
  width: 217px;
height: 22px;
left: 130px;
top: 340px;

  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}
.home-search-button{
  background: #FFAF00;
border-radius: 0px 5px 5px 0px;
font-family: Product Sans;
font-style: normal;
/* font-weight: bold; */
font-size: 18px;
line-height: 22px;

/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.header {
  text-align: center;
}

.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
}

.container-quota {
  position: absolute;
  width: 62px;
  height: 34px;
  /* left: 404px;
  top: 1082px; */
  margin-left: 14rem;
  margin-top: 1rem;
  background: #ffffff;
  border-radius: 5px 0px 0px 5px;
}
